.editorconfig
.gitattributes

/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
/node_modules/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-*
.idea
orcpub.iml
profiles.clj
env.sh
.repl
.nrepl-port
/resources/*_backup.pdf
*~
#
*#*
/data
*.crt
*.key
deploy/homebrew/*
