/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-env
profiles.clj
env.sh
.repl
.nrepl-port
/resources/*_backup.pdf
*~
#
*#*
